@import url('https://fonts.googleapis.com/css2?family=FAMILY_NAME:wght@WEIGHT_OR_RANGE&display=swap');


/*main*/
*{
    margin: 0;
}

.navbar{
    background-color: black;
    color: red;

}
.navbar span{
    font-size: 30px;
font-family:sans-serif
;}
.main{
    text-align:center ;
    background-color: rgb(5, 5, 5);
    height: vh;
    

}
.main h1{
    padding-top: 40px;
}
.main p{
font-size: 20px;
padding-top: 40px;
}
