/*main*/
* {
    margin: 0;
}

.navbar{
    background-color: black;
    color: #77f9f3;

    

}

.navbar-toggler{
    background-color: aliceblue;
    color: aliceblue;
}
.navbar-brand {
    font-size: 50px;
    font-family: 'Oswald', sans-serif;
    color: #77f9f3;
}
.nav-link{
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    color: #77f9f3;
 
}
.nav-item{
    padding-left: 20px;
    padding-right: 10px;
}

.main {
    text-align: center;
    background-color: rgb(5, 5, 5);
    height: 100vh;
}

#main-img {
    align-items: center;
    padding-top: 10%;
}

.main h1 {
    padding-top: 30%;
    font-family: 'Oswald', sans-serif;
    color: #77f9f3;
    padding-right: 50px;
    padding-left: 50px;
    font-size: 70px;
    text-decoration: underline;

}

.main p {
    font-size: 20px;
    padding-top: 40px;
    font-family: 'Inter Tight', sans-serif;
    color: whitesmoke;
    padding-right: 100px;
    padding-left: 100px;
}

@media only screen and (max-width: 600px) {
    #main-img {
        width: -webkit-fill-available;
        padding-top: 20px;

    }

    .main h1 {
        padding-right: 10px;
        padding-left: 10px;
        font-size: 44px;
        padding-top: 20px;
    }

    .main p {
        padding-right: 10px;
        padding-left: 10px;
        font-size: 25px;
    }
    .main{
        height: auto;
    }

}

/*main-sub*/
.main-sub{
    background-color: #222324;
   height: 100vh;
    color: whitesmoke;
 
    
}
.main-sub h2{
    text-align: center;
    color:#77f9f3;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Oswald', sans-serif;

}

.main-sub{
    padding-left: 10px;
    padding-left: 10px;
}

@media only screen and (max-width: 600px) {
    .main-sub {
      height: auto;

    }
  }

.main-sub ul li{

    list-style-position: inside;
    padding-top: 20px;

}

/*download*/
.download{
    
    background-color:#222324;  
    color: aliceblue;
    text-align: center;
}

.subject-img{
    height: 300px;
    width: 300px;
}
.download a{
    background-color: #77f9f3;
}

.download h4{
    margin-top: 10px;
    margin-bottom: 10px;
    color:whitesmoke;
  
    font-family: 'Oswald', sans-serif;

}

.download h1{
    padding-top: 20px;
    margin-bottom: 10px;
    color:#77f9f3;
    font-size: 50px;
    font-family: 'Oswald', sans-serif;


}
.download a{
    margin-top: 10px;
    margin-bottom: 20px;
}
.download img{
    margin-top: 30px;

}

/*download-sub*/
.download-sub{
    background-color:#222324;  
    color: aliceblue;
    text-align: center; 
}


.subject-img{
    height: 300px;
    width: 300px;
}
.download-sub a{
    background-color: #77f9f3;
}

.download-sub h4{
    margin-top: 10px;
    margin-bottom: 10px;
    color:whitesmoke;
    
    font-family: 'Oswald', sans-serif;

}

.download-sub h1{
padding-top: 20px;
    margin-bottom: 40px;
    color:#77f9f3;
    font-size: 50px;
    font-family: 'Oswald', sans-serif;


}
.download-sub a{
    margin-top: 10px;
    margin-bottom: 20px;
}
.download img{
    margin-top: 30px;

}


/*download-lab*/
.download-lab{
    background-color:#222324;  
    color: aliceblue;
    text-align: center; 
}


.subject-img{
    height: 300px;
    width: 300px;
}
.download-lab a{
    background-color: #77f9f3;
}

.download-lab h4{
    margin-top: 10px;
    margin-bottom: 10px;
    color:whitesmoke;
    font-family: 'Oswald', sans-serif;

}

.download-lab h1{
padding-top: 10px;
    margin-bottom: 10px;
    color:#77f9f3;
    font-size: 50px;
    font-family: 'Oswald', sans-serif;


}
.download-lab a{
    margin-top: 10px;
    margin-bottom: 20px;
}
.download img{
    margin-top: 30px;

}

/*footer*/
.footer-content{
    background-color: black;
    color:white;
    align-items: center;
    text-align: center;
}

.footer-content h2{
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    padding-top: 40px;
    padding-bottom: 40px;

}   

.footer-content p {
    
    padding-bottom: 20px;
}